<footer class="pry_footer">
  <ul>
    <li><a href="lalala">comilones</a></li>
    <li><a href="todobien">link de footer 2</a></li>
    <li><a href="todoliso">link de footer 3</a></li>
    <li><a href="">link de footer 4</a></li>
  </ul>
</footer>
