<header class="pry_header">
  <span class="pry_logo">
    <img src="http://lorempixel.com/150/150/nightlife" alt="">
  </span>
  <span>
    <h1>hola {{firstName}} {{lastName}}!</h1>
  </span>
</header>
