<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- build:css -->
    <link rel="stylesheet" href="css/app.css">
  <!-- endbuild -->
</head>
</head>
<body>
 <!------------
  - PARTIALS
  -------------
  -
  - The partials files are in next path:
  -  './app/templates/partials'
  -
  - The Options file are:
  -  './gulp/templateOptions.js'
  -
 ------------->
  <main id="pry_main">
    {{> _header}}
    {{> _nav}}
    {{> _content}}
    {{> _footer}}
  </main>

  <!-- build:js -->
    <script src="/bower_components/zepto/zepto.min.js"></script>
    <script src="js/app.js"></script>
  <!-- endbuild -->

</body>
</html>
