/**
 * ELEMENTS
 */
@import "./variables/_Colors.css";
@import "./modules/_Base.css";
@import "./modules/_Header.css";

.aa{
  background-color: $base;
  color: #f57800;
  &_logo {
    background-color: $article;
  }
}

.menu {
  width: calc(4 * $column);
  &_link {
    background: $blue;
    width: $column;
  }
}

